.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #4ccfff;
  border-radius: 5px;
  box-shadow: -1px 0px 30px 3px rgba(255, 173, 195, 0.65);
  -webkit-box-shadow: -1px 0px 30px 3px rgba(255, 173, 195, 0.65);
  -moz-box-shadow: -1px 0px 30px 3px rgba(255, 173, 195, 0.65);
  width: 20em;
  height: 25em;
  margin-top: 15%;

}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  width: 100px;
}

.inputx {
  margin: 30px;
  width: 270px;
}
body {
  background-color : rgb(11,17,59);
  background-position: center;
  background-size: cover;
}

.gradient {
  z-index: -200;
  background: linear-gradient(180deg, black, grey);
  opacity: 50%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}