@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@100&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Nunito";
}
body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color : rgb(11,17,59);
    background-position: center;
    background-size: cover;
}
.gradient {
    z-index: -200;
    background: linear-gradient(180deg, black, grey);
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }
.container{
    width: 55%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .title{
    font-size: calc( 1em + 7vmin );
    font-weight: 900;
    color: tomato;
    margin: auto;
    --x-offset: -0.0125em;
    --y-offset: 0.0425em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
}
.user-details{
    margin: auto;
    display:grid;
    grid-template-columns: auto auto;
}
.form .user-details .input-box{
    margin:15px;
    width: 300px
}
.form .user-details .input-box .details{
    display:block;
    font-weight: 500px;
    margin-bottom: 5px;
}
.form .user-details .input-box input{
    height: 45px;
    width:100%;
    outline:none ;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 13px;
    border-bottom-width: 2px;
}
.form .user-details .input-box input:valid{
    border-color: #6dd5ed;
}
.form .button{
    height: 30px;
    width: fit-content;
    margin: 30px auto;
}
.form .button input{
    height: 100%;
    width: 300px;
    color:#fff;
    background:linear-gradient(100deg,#de6262, #ffb88c);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    font-size: 17px;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
}
.form .button input:hover{
    cursor: pointer;
    background:black;
    
}

