
* {
    margin: 0;
    padding: 0;
}

body {
    background-color : rgb(11,17,59);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.gradient {
    z-index: -200;
    background: linear-gradient(180deg, black, grey);
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.container {
    width: 70%;
}

.nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    margin: auto;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
.nav button{
    width: 70px;
}

.nav a {
    margin: auto;
    text-decoration: none;
    color: white;
}

.nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    color: white;
}

.wallpaper {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    margin-bottom: 20vh;
}

.wallpaper button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 10px;
}

.movie {
    position: absolute;
    bottom: -100px;
    left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cover {
    background-image: url("../image/po.png");
    background-size: cover;
    height: 15vw;
    border-radius: 50%;
    width: 15vw;
}

.cover img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.name {
    margin-top: 170px;
    color: white;
}

.name h2 {
    margin: 15px 30px;
}


.details {
    margin: 10vh auto;
    background-color: rgba(0, 0, 0,0.3);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.info {
    width: 50%;
    height: 70%;
    margin: auto 4vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}


.summery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.summery p,h3 {
    width: 70%;
    margin: 20px auto;
}

.fav {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 60px;
}

.image img {
    width: 200px;
    height: 300px;
    box-shadow: -10px 10px 10px black;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover {
    background-position: center;
}