@import url("http://fonts.cdnfonts.com/css/gotham");

* {
    margin: 0;
    font-family: "Gotham";
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* body {
  background-color: rgb(11, 17, 59);
  background-position: center;
  background-size: cover;
} */

body {
    background-color : rgb(11,17,59);
    background-position: center;
    background-size: cover;
}
.image1 img {
    height: 350px;
    box-shadow: -4px 4px 5px 0 #000;
    margin-left: 1200px;
}
.t1 {
    text-align: left;
    text-decoration: none;
    float: left;
    size: 180;
    color: rgb(250, 252, 255);
    font-style: initial;
    font-weight: 800;
    margin: top 5px;
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head {
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 18px;
    float: left;
    margin: 15px 10px 10px;
    color: aliceblue;
    background: transparent;
    font-weight: 200;
}
.image img {
    width: 200px;
    height: 300px;
    box-shadow: -10px 10px 10px black;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row {
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-gap: 60px;
}
.row-kbir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gradient {
    z-index: -200;
    background: linear-gradient(180deg, black, grey);
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
