::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color : rgb(11,17,59);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.gradient {
    z-index: -200;
    background: linear-gradient(180deg, black, grey);
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before {
    content: "★ ";
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
    margin: auto;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
}
.nav button{
    width: 70px;
}

.nav a {
    margin: auto;
    text-decoration: none;
    color: white;
}

.nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    color: white;
}
.image1 img {
    width: 200px;
    height: 300px;
    color: #ccc;
}
.film_name {
    text-decoration: dashed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block {
    display: grid;
    justify-content: center;
    align-items: center;
}
.summary {
    align-items: flex-end;
    height: inherit;
    font-size: larger;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15vh 0 15vh 0;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    
    color: white;
    background-color: rgba(0, 0, 0,0.3);}

.image1 {
    margin: 2vw;
}

.content {
    margin: 2vw;
    width: 70%;
}

.favBtn {
    padding: 5px;
    margin: 15px auto;
}